@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Protest+Revolution&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Protest Revolution", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.1rem;
}

body {
  height: 100vh;
  font-family: "Poppins", sans-serif;
  background-image: url('img/todo-bg1.png');
  /* background-color: #7A9D96; */
  background-repeat: no-repeat;
  background-size: cover;
  /* background-image: linear-gradient(to top, #d9afd9 0%, #97d9e1 100%); */
 
}
.container {
  background-image: url(img/container-bg1.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 2rem auto;
  box-shadow: 0px 2px 10px 5px white;
  padding: 2rem;
  border-radius: 10px 80px;
  color: white;
  opacity: 0.85;
}

.header {
  text-align: center;
  margin: 0.5rem;
  font-size: 2rem;
}

.header h1{
  font-size: 2.5rem;
  margin-bottom: 1rem;
  font-weight: 700;
}

.btn {
  border: none;
  cursor: pointer;
  color: #fff;
  font-weight: 500;
  font-size: 1.2rem;
  padding: 1rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.form-control {
  margin: 15px 0;
}



.form-control input {
  width: 100%;
  height: 40px;
  padding: 1rem;
  font-size: 17px;
  border-radius: 5px;
  border: none;
  
}

.btn-submit {
  width: 100%;
  background-color: #cd5554;
  margin: 1rem 0;
  border-radius: 10px;
  border: 3px solid white;
  color: black;
}

.gorev {
  background-image: url(img/inputs-bg.jpg);
  background-size: cover;
  margin: 5px;
  padding: 10px 20px;
  cursor: pointer;
  color: black;
}

.done {
  border-left: 10px solid rgb(102, 18, 77);
  text-decoration: line-through;
  background-color: lightseagreen;
  padding: 10px 20px;
  color: blue;

}

 h3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer{
  text-align: center;
  margin-top: 3rem;
  font-family: roboto;
  font-size: 0.9rem;
}

.d-resim img{
  width: 300px;
  height: 200px;
}