*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    display: flex;
    justify-content: center;
}

body{
    background: url('assets/to-do-bg1.jpg');
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.input{
    border-radius: 10px;
    border: 2px solid black;
    width: 100%;

}

.btn-danger{
    float: right;
}

.h1{
    text-shadow: 2px 2px 2px  black;
}

.input-area{
    border-radius: 15px 0px 0 15px;
    height: 4rem;
    flex: 5;
    margin-right: 5px;
}

.add-btn{
    border-radius: 0px 15px 15px 0px;
    padding-bottom: 15px;
    height: 4rem;
    margin-bottom: 15px;
    flex:2;
    font-weight: 600;
    font-size: 1.2rem;
}

form{
    width: 100%;
    display: flex;
}

.col{
    justify-content: center;
    height: 5rem;
}

.form-div{
    width: 100%;
}