.footer-div {
  width: 30vw;
  padding: 5px 0 5px 0;
  min-width: 400px;
  background-color: rgb(239, 249, 255);
  height: 50px;
  font-size: 1.5rem;
  color: #8d1e74;
  border: 0.5px solid #9d4d8c;
  border-radius: 5px;
  margin: 40px auto ;
  /* height: 55px; */
  display: flex;
  justify-content: center;
}

.brand {
  color: grey;
  font-weight: bold;
  font-style: italic;
  margin-right: 1.5rem;
}
