.todo-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
   }
   .todo-item p {
    color: darkred;
    font-size: 1.4rem;
    font-weight: 700;
    /* text-decoration: line-through; */
   }

   .list-group-item{
    border: 1px solid red;
   }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background: url('https://images.pexels.com/photos/2736499/pexels-photo-2736499.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1'); */
    background-repeat: no-repeat;
    background-size: cover;
}

.input{
    font-size: 1.4rem !important;
    background-color: darkblue !important;
    color: white !important;

}

.input::placeholder{
    font-size: 1.4rem !important;
    color: white !important ;

}

.btn{
    font-size: 1.4rem !important;
    background-color: darkblue !important;

}